.App {
  text-align: center;
  background-color: #a4036f;
  color:#efea5a;
  height: 100vh;
}

.colour1{
  background-color: #a4036f;
}

.colour2{
  background-color: #048ba8;
}

.colour3{
  background-color: #16db93;
}

.colour4{
  background-color: #efea5a;
}

.colour5{
  background-color: #f29e4c;
}


