.App {
  text-align: center;
  background-color: #a4036f;
  color:#efea5a;
  height: 100vh;
}

.button-style{
  background-color: #048ba8;
  height: 40px;
  width: auto;
  color: #efea5a;
  font-size: 1rem;
}
.colour1{
  background-color: #a4036f;
}

.colour2{
  background-color: #048ba8;
}

.colour3{
  background-color: #16db93;
}

.colour4{
  background-color: #efea5a;
}

.colour5{
  background-color: #f29e4c;
}




